@charset "UTF-8";
/* CSS Document */



* {margin:0;padding:0}

area{
border:none; outline:none;
}


a:active
{
outline: none;
-moz-outline-style: none;
}

a:focus
{
-moz-outline-style: none;
outline: none;

}


html, body {
	height: 100%;
	font-family: 'Droid Sans Mono', sans-serif;	
 	}
 	
 	body
 	{
		 background: url('../photo4.jpg') no-repeat top center fixed;
		 -moz-background-size: cover; 
		 -webkit-background-size: cover; 
		 -o-background-size: cover; 
		 background-size: cover;	 	}
	

#wrap {
	width:740px;
	margin:0 auto;
	}
	

#header {
	color: #fff;
	width: 740px;
	height: 40px;
	padding-top:0px;
	}

	
#logo {
float: left;	
padding-right: 106px;
}

#soc {
padding-left: 750px;	
}

#socpic2 {
	border: #FFF thin solid;
	width:309px;	
	BACKGROUND: #000;
	padding-top: 8px;
	padding-bottom: 5px;
	padding-left: 0px;
	margin-left: 600px;
	}

#socpic {
	padding: 0px;
	text-align:right;
}

#socpic img {
	padding: 0px;
}

.menu{
font-family: 'Raleway', sans-serif;
	font-size:13px;
	/*padding-right: 140px; */
	/* padding-top:55px; */
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #000;
	border: 1px dotted white;
	
	}
	
	#content23 {
		margin-top:40px;
		font-family: 'Raleway', sans-serif;
	overflow:scroll;
	height: 400px;	
	font-size: 12px;
	background-color:#000;
	color: #fff;
	text-align:justify;
	}
	
	.menu ul{
	list-style: none;
	}
 
.menu ul li{
    display:  inline;	
	}
 
.menu ul li a{
	text-decoration: none;
    color: #fff;
    background-color: none; 
	}
 
 
.menu ul li a:visited{
    color: #FFF;
	}
 
 
.menu ul li a:hover, .menu ul li .current{
    color: #fff;
    background-color:none;
 text-decoration:line-through;
 	}
	
	h1,h2,h3,h4,h5,h6 {
	display: inline;
	}
	
	#main {
		overflow:auto;
		padding-left: 0px;
		padding-bottom: 45px;
		}  
		
		#mainh {
			overflow:auto;
			padding-left: 0px;
			}  
		
#mainh a {
		background-color: black;
		font-style: normal!important;
		font-size: 11px!important;
		}  
		
		#mainh a hover {
		background-color: black;
		font-style: normal!important;
		font-size: 11px!important;
		text-decoration:line-through;

		}  



#content {
	padding-top: 20px;
	font-family: 'Droid Sans Mono', sans-serif;
	font-size:10px;
	background: #fff;
	}
	
	#tumblr {
	width: 400px;
	}
	
	
	#content2 {
	padding-top: 45px;
	font-family: 'Raleway', sans-serif!important;	
	font-size:12px!important;
;	width: 500px;
	float:left;
	color: #fff;
	font-style: bold;
	}
	
	
	#content2 a {
		color: white;
	font-size:12px!important;
		font-style: italic;
		text-decoration: none;
	font-family: 'Raleway', sans-serif!important;	
	}
	
			
	#content2 img.tumblr_photo {
		height: 300px;
		margin-bottom: 10px;
	}
	
	#tumblr_caption p {
		font-size: 8px;
	}
	
	#live {
	font-size: 11px!important;
	font-family: 'Raleway', sans-serif!important;
	margin-top: 45px;;
	color:#000;
	background-color: #f5f5f5;
	width: 740px;
	font-family:  Arial, Helvetica, sans-serif;
	float:left;
	}
	
	#live a {
	font-size: 11px!important;
	font-family: 'Raleway', sans-serif!important;
		color: white;
		font-size: 9px;
		font-style: italic;
		text-decoration: none;
		font-family:  Arial, Helvetica, sans-serif;
		color: grey;
	}
	
	table img {
		padding-right: 20px;
	}
	
	th {
		
		font-size: 13px!important;
		font-family: 'Raleway', sans-serif!important;
	}
	
	table a {
	}
	
	h1 {
		font-family: 'Droid Sans Mono', sans-serif;
		font-size:10px;
		background: white;
		color: black;
		
	}
	
	#EP {
	padding-top: 50px;
	font-family: 'Droid Sans Mono', sans-serif;
	font-size: 11px;
	width: 740px;
	float:left;
	color: #F0F0F0;
	}
	
	#EP a{
		
	color: grey;
	}
	
	#content3 {
	padding-top: 10px;
	margin-bottom:30px;
	font-family: 'Raleway', sans-serif!important;	
	font-size:10px;
	background: #fff;
	width: 525px;
	float:left;
	}
	
	#events p {
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	font-style:italic;
	font-family: 'Droid Sans Mono', sans-serif;
	}
	
	#contactbox {
	padding-top: 30px;
	font-family: 'Droid Sans Mono', sans-serif;
	font-size:10px;
	font-style:italic;
	width: 30px;
	float:right;
	}
	
	
	#about {
	float: left;
	font-family: 'Andale Mono', sans-serif;
	font-size:10px;
	width: 260px;
	text-align:justify;
	}
	
	#about p {
	padding-bottom: 30px;
	font-style:normal;
	}
	
		#about p a:link {
		color: #000;
		text-decoration:none;
		font-style:italic;
		}
		
			
		#about p a:hover {
		text-decoration:underline;
		}
	
	
	#about2 {
	float: right;
	font-family: 'Andale Mono', sans-serif;
	font-size:10px;
	width: 260px;
	text-align:justify;
	}
	
	#about2 p {
	font-style:normal;
	}
	
		#about2 p a:link {
		color: #000;
		text-decoration:none;
		font-style:italic;
		}
		
			
		#about2 p a:hover {
		text-decoration:underline;
		}
		
	
	
			
		#downloads {
		width: 475px;	
	font-family: 'Droid Sans Mono', sans-serif;
	font-size:12px;
		padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	font-style:italic;
		}
		
		
		
		#downloads a:link {
		color: #000;
		text-decoration:none;
		font-style:italic;
		}
		
			
		#downloads a:hover {
		text-decoration:underline;
		}
		
		#downloads a:visited {
					color: #000;

		}
	
	
	
	#contact {
font-family: 'Droid Sans Mono', sans-serif;
	font-size:12px;
	font-style: normal;
	}
	
	#contact p {
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	}
	
		#contact p a:link {
		color: #000;
		text-decoration:none;
		}
		
			
		#contact p a:hover {
		text-decoration:underline;
		}
	
	
	
	



	
	#tourdates {
margin-left:40px;	
overflow:auto;
position: relative;
padding-bottom:30px;
}

#tourdates a{
color:#cccccc;

}
#tourdates a:hover {
	text-decoration:none;
	background-color:#ffffff;
	color:#fff;
	}
	



